.user-input {
    background-color: hsl(213, 100%, 76%);
    padding: 1rem;
    margin: 2rem auto;
    width: 50rem;
    max-width: 95%;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.57);
}


.user-input__controls {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
    text-align: left;
    padding-left: 10px;
}

.user-input__control label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
}

.user-input__control input {
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 20rem;
    max-width: 100%;
}

.user-input__actions {
    display: flex;
}